<div class="container">
    <h3>Choose your company</h3>
    <form [formGroup]="search">
        <div class="form-group col-lg-4">
            <select class="selectpicker dropdown form-control" (change)="searchByCompanyName($event.target.value)" formControlName="company" data-live-search="true">
            <option *ngFor="let company of companies" [value]="company._id">{{company.name}}</option>
        </select>
        </div>
    </form>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card" *ngFor="let product of products;let rowIndex=index">

                                <img src="{{product.image}}" class="card-img-top" alt="Bootstrap Thumbnail First">
                                <div class="card-block">
                                    <h5 class="card-title">
                                        {{product.name}}
                                    </h5>
                                    <p class="card-text">
                                        {{product.details}}
                                    </p>
                                    <h4 class="card-title">
                                        Price: ${{product.price}}
                                    </h4>
                                    <p>
                                        <a [routerLink]="['/cart', { id:product._id }]" class="btn btn-primary">Buy Now</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>